.background {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
}

.banner {
  max-width: 50%; /* Default size */
}

@media (max-width: 640px) {
  /* Adjust size for mobile devices */
  .banner {
    max-width: 80%;
  }
}
